extends layout

// the top nav bar 
block header  
  if (user)
    p(id="user") #{user.displayname}

block navsearchform
  if (user)
    .navbar-right
      ul.nav.navbar-nav
        form.navbar-form.navbar-left(id='searchform', role='search', style='display:none;')
          .form-group
            select.form-control(name='searchfield', id='searchfield')
              option(value='*') All Fields
              option(value='username') Username
              option(value='location') Location
          .form-group
            input.form-control(id="searchterm", name="searchterm", type='text', placeholder='Search')
          button.btn.btn-default(type='submit') Submit

block content
  div.container-fluid

    // login or sign up  
    if (!user)
      .row.spacer.img-center
        .col-sm-8.col-sm-offset-2
          img(style="max-width:300px;" src='/images/logo.png')
      .row.spacer
        .col-sm-8.col-sm-offset-2
          h2
            | Welcome to DogTaker!
          p
            | This is a great platform for dog owners and dog lovers!
            | If you love dogs DogTaker allows you to volunteer to
            | take care of one, for a couple hours or even days. 
            | If you own a dog you will have a chance to go to that trip
            | your always wanted to go to, without having to worry about
            | your pet, knowing that they are in good hands while you're away
          p
            | Simply signup to find out more!
      .row.spacer
        .col-sm-8.col-sm-offset-2
          .col-sm-3
          .col-sm-1.btn-position
            button.btn.btn-default(type="button", onclick='login()') Login
          .col-sm-1
          .col-sm-1.btn-position
            button.btn.btn-default(type="button", onclick='register()') Sign up
          .col-sm-1
          .col-sm-1.btn-position
            button.btn.btn-default(type="button", onclick='facebookLogin()') Use Facebook
          .col-sm-1

    if (user)
      h4
        small
          img(style="max-width:15px;" src="/file/"+ user.profilepicture)
        |  
        a.showuser(id="showuser" rel=user.username onclick='showUserInfo()') #{user.username}
        button.btn.btn-default(type="button" class="pull-right" onclick='logout()') Logout
        hr.reg-header-hr

      .row#wrapper1       
        .container.container-position
          .row.spacer 
            .col-sm-8.col-sm-offset-2
              p
                | A list of all of our current users:
    
              #userList
                table.table.table-bordered.table-hover.order-column(cellspacing='0', width='100%')
                  thead
                    th Display Name
                    th Email
                  tbody
              hr.reg-header-hr

      .row#searchwrapper
        .container.container-position
          .row.spacer 
            .col-sm-8.col-sm-offset-2
              h4 Results
              #searchhits
                table.table.table-bordered.table-hover.order-column(cellspacing='0', width='100%')
                  thead
                    th Display Name
                    th Email
                  tbody
              #searchnohits
      
      .row#wrapper2     
        .container.container-position
          .row.spacer 
            .col-sm-8.col-sm-offset-2
              p
                | Request a dog taker 
                .row 
                  .col-sm-3.col-sm-offset-4
                    .map-container
                      .jumbotron
                        div(id="googleMap" style="height: 100%;width: 100%;")
              
              .row.spacer 
                .col-sm-offset-4
                  //request for dog lover 
                  #requestDogLover
                    form(role='form', action="/requestdoglover",method="post", style='max-width: 300px;')
                      .form-group
                        span.label Start Date
                        input.form-control(type='datetime-local', id="starttime", name="starttime")
                      .form-group
                        span.label End Date
                        input.form-control(type='datetime-local', id="endtime", name="endtime")
                      a(href='/')
                        button.btn.btn-default(type="button") Cancel
                      &nbsp;
                      button.btn.btn-success(type='submit') Request
      
      .row#userInfo         
        .col-sm-4
          .row
            .col-sm-8.col-offset-2
              | <span id='userDisplayNameComment'></span>
              | <span>'s profile</span>              
          .row
            .col-sm-8.col-offset-2
              img(id="profilepicture" style="max-width:300px;"  src="")
          hr.reg-header-hr
          #Requestslist
          .row 
            button.btn.btn-default(type="button", id="revokeadmin", onclick='changeAdmin(false)') Revoke admin
            button.btn.btn-default(type="button", id="makeadmin", onclick='changeAdmin(true)') Make admin
            button.btn.btn-default(type="button", id="deleteuser", onclick='deleteUser()') Delete user

        .col-sm-4
          #Commentswrapper
            #commentsandrating
              .panel.panel-default
                .panel-heading.clearfix
                  h3.panel-title.panel-title-text
                    | comment
                .panel-body
                  form(role='form', action="/comment",method="post")
                    .form-group(style='display:none;')
                      span.label Target profile Email THIS SHOULD BE NOT CHANGABLE
                      input.form-control(type='text', id="commentemail", name="commentemail", placeholder='Email')
                    .form-group(style='display:none;')
                      span.label Current user Email
                      input.form-control(type='text', id="authoremail", name="authoremail", placeholder='Email')
                    .form-group
                      span.label Rating
                      select(name='ratingnumber')
                        option(value=5) 5
                        option(value=4) 4
                        option(value=3) 3
                        option(value=2) 2
                        option(value=1) 1
                    .form-group
                      textarea.form-control(rows="4", id="comment", name="comment",placeholder="Leave a Comment...")
                    span.pull-right 
                      button.btn.btn-success(type='submit') Submit
              #Commentslist
            
        .col-sm-4
          .panel.panel-default
            .panel-heading.clearfix
              h3.panel-title.panel-title-text
                | Information
                span.pull-right
                  #editbutton
                    button.btn.btn-default.btn-sm(type='button', onclick='editUser()')
                      glyphicon.glyphicon-glyphicon-pencil
                      |  Edit
            .panel-body.person-info-panel
              .row
                .col-sm-2
                  span.person-info-panel-icon
                    span.glyphicon.glyphicon-user
                .col-sm-10
                  |  <span id='userDisplayName' onclick='editUser()'></span>
              .row
                .col-sm-2
                  span.person-info-panel-icon
                    span.glyphicon.glyphicon-envelope
                .col-sm-10
                  |  <span id='userEmail'></span>
              .row
                .col-sm-2
                  span.person-info-panel-icon
                    span.glyphicon.glyphicon-menu-hamburger
                .col-sm-10
                  |  <span id='userDescription'></span>
         
      .row#editPage
        #pictureSection
          h4 Change Picture
          br
          img(id="profilepicturesection" src="")
          br
          form(action="/changePicture", method="post", enctype="multipart/form-data")
            input(type="file", name="avatar")
            input(type="text", id="photoemail", name="photoemail", placeholder='Email', readonly)
            br
            input(type="submit" class="btn btn-default btn-sm" name="upload" value="Change Photo")
        #editSection
          h4 Update Info
          form(role='form', action="/edit",method="post", style='max-width: 300px;')
            .form-group
              span.label Email
              input.form-control(type='text', id="email", name="email", placeholder='Email', readonly)
            .form-group
              span.label Display Name
              input.form-control(type='text', id="displayname", name="displayname", placeholder='Displayname')
            .form-group
              span.label Description
              input.form-control(type='text', id="description", name="description", placeholder='Description')
            a(href='/')
              button.btn.btn-default(type="button") Cancel            
            &nbsp;
            button.btn.btn-success(type='submit') Update
        #passwordSection
          h4 Change Password
          form(role='form', action="/changepassword",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='password', id="changeusername", name="username", placeholder='Username')
            .form-group
              span.label Old Password
              input.form-control(type='password', name="password", placeholder='Old Password')
            .form-group
              span.label New Password
              input.form-control(type='password', name="newpassword", placeholder='New Password')
            .form-group
              span.label Confirm Password
              input.form-control(type='password', name="confirmpassword", placeholder='Confirm Password')
            a(href='/')
              button.btn.btn-default(type="button") Cancel    
            &nbsp;
            button.btn.btn-success(type='submit') Change Password

          br
          h4= info