extends layout

// the top nav bar 
block header  
  if (user)
    img(style="max-width:30px; margin-top: 10px;" src='/file/Default.jpg')
    // p(id="user") #{user.displayname}

block navsearchform
  .navbar-right
    ul.nav.navbar-nav
        form.navbar-form.navbar-left(id='searchform', role='search')
          .form-group
            select.form-control(name='searchfield', id='searchfield')
              option(value='*') All Fields
              option(value='username') Username
              option(value='location') Location
          .form-group
            input.form-control(id="searchterm", name="searchterm", type='text', placeholder='Search')
          button.btn.btn-default(type='submit') Submit

block content
  div.container

    // login or sign up  
    if (!user)
      .row.spacer.img-center
        .col-sm-8.col-sm-offset-2
          img(style="max-width:300px;" src='/images/logo.png')
      .row.spacer
        .col-sm-8.col-sm-offset-2
          h2
            | Welcome to DogTaker!
          p
            | This is a great platform for dog owners and dog lovers!
            | If you love dogs DogTaker allows you to volunteer to
            | take care of one, for a couple hours or even days. 
            | If you own a dog you will have a chance to go to that trip
            | your always wanted to go to, without having to worry about
            | your pet, knowing that they are in good hands while you're away
          p
            | Simply signup to find out more!
      .row.spacer
        .col-sm-8.col-sm-offset-2
          .col-sm-3
          .col-sm-2.btn-position
            button.btn.btn-default(type="button", onclick='login()') login
          .col-sm-2
          .col-sm-2.btn-position
            button.btn.btn-default(type="button", onclick='register()') Sign up
          .col-sm-3

    if (user)
      h4
        small
          span.glyphicon.glyphicon-th
        |   Welcome #{user.username}!
        button.btn.btn-default(type="button" class="pull-right" onclick='logout()') Logout
      hr.reg-header-hr

      .row      
      .container.container-position
        .row.spacer 
          .col-sm-8.col-sm-offset-2
            p
              | A list of all of our current users:
      
            #wrapper1
              #userList
                table#users-table.table.table-bordered.table-hover.order-column(cellspacing='0', width='100%')
                  thead
                    th Display Name
                    th Email
                  tbody
        #searchwrapper
          h1 Search results
          #searchhits
            table
              thead
                th Display Name
                th Email
              tbody
          #searchnohits
            h3

        hr.reg-header-hr

        .row      
        .container.container-position
          .row.spacer 
            .col-sm-8.col-sm-offset-2
              p
                | Request a dog taker 
              #wrapper2
                .row 
                  .col-sm-3.col-sm-offset-4
                    .map-container
                      .jumbotron
                        div(id="googleMap" style="height: 100%;width: 100%;")
                
                .row.spacer 
                  .col-sm-offset-4
                    //request for dog lover 
                    #requestDogLover
                      form(role='form', action="/requestdoglover",method="post", style='max-width: 300px;')
                        .form-group
                          span.label Start Date
                          input.form-control(type='datetime-local', id="starttime", name="starttime")
                        .form-group
                          span.label End Date
                          input.form-control(type='datetime-local', id="endtime", name="endtime")
                        a(href='/')
                          button.btn.btn-default(type="button") Cancel
                        &nbsp;
                        button.btn.btn-success(type='submit') Request


                // USER INFO
                #userInfo
                  h2 Profile
                  //put all buttons in
                  button.btn.btn-default(type="button", id="revokeadmin", onclick='changeAdmin(false)') Revoke admin
                  button.btn.btn-default(type="button", id="makeadmin", onclick='changeAdmin(true)') Make admin
                  button.btn.btn-default(type="button", id="deleteuser", onclick='deleteUser()') Delete user
                  button.btn.btn-default(type="button", id="edit", onclick='editUser()') Edit
                  img(id="profilepicture" src="" onclick='editUser()')
                  p
                    strong Display Name:
                    |  <span id='userDisplayName' onclick='editUser()'></span>
                    br
                    strong Email:
                    |  <span id='userEmail'></span>
                    br
                    strong Description:
                    |  <span id='userDescription'></span>
                    br
                  p(id="adminOnly")
                    strong Page Views:
                    |  <span></span>
                    br
                    strong IP Address:
                    |  <span id='ipAddress'></span>
                    br
                    strong Location:
                    |  <span id='location'></span>
                    br
                    strong Viewing Device:
                    |  <span id='viewingDevice'></span>
                  #Requestslist
                // /USER INFO
                #editPage
                  #pictureSection
                    h1 Change Picture
                    br
                    img(id="profilepicturesection" src="")
                    br
                    form(action="/changePicture", method="post", enctype="multipart/form-data")
                      input(type="file", name="avatar")
                      input(type="text", id="photoemail", name="photoemail", placeholder='Email', readonly)
                      input(type="submit" name="upload" value="Change Photo")
                  #editSection
                    h1 Update Info
                    form(role='form', action="/edit",method="post", style='max-width: 300px;')
                      .form-group
                        span.label Email
                        input.form-control(type='text', id="email", name="email", placeholder='Email', readonly)
                      .form-group
                        span.label Display Name
                        input.form-control(type='text', id="displayname", name="displayname", placeholder='Displayname')
                      .form-group
                        span.label Description
                        input.form-control(type='text', id="description", name="description", placeholder='Description')
                      button.btn.btn-default(type='submit') Update
                      &nbsp;
                      a(href='/')
                      button.btn.btn-primary(type="button") Cancel
                  #passwordSection
                    h1 Change Password
                    form(role='form', action="/changepassword",method="post", style='max-width: 300px;')
                      .form-group
                        input.form-control(type='password', id="changeusername", name="username", placeholder='Username')
                      .form-group
                        span.label Old Password
                        input.form-control(type='password', name="password", placeholder='Old Password')
                      .form-group
                        span.label New Password
                        input.form-control(type='password', name="newpassword", placeholder='New Password')
                      .form-group
                        span.label Confirm Password
                        input.form-control(type='password', name="confirmpassword", placeholder='Confirm Password')
                      button.btn.btn-default(type='submit') Change Password
                      &nbsp;
                      a(href='/')
                      button.btn.btn-primary(type="button") Cancel
                    br
                    h4= info
                #Commentswrapper.col-md-6
                  h3 comments for #{user.username}
                  #commentsandrating
                    .panel.panel-primary
                      .panel-heading
                        h3.panel-title Leave a Rating
                      .panel-body
                        form(role='form', action="/comment",method="post")
                          .form-group(style='display:none;')
                            span.label Target profile Email THIS SHOULD BE NOT CHANGABLE
                            input.form-control(type='text', id="commentemail", name="commentemail", placeholder='Email')
                          .form-group(style='display:none;')
                            span.label Current user Email
                            input.form-control(type='text', id="authoremail", name="authoremail", placeholder='Email')
                          .form-group
                            span.label Rating
                            select(name='ratingnumber')
                              option(value=5) 5
                              option(value=4) 4
                              option(value=3) 3
                              option(value=2) 2
                              option(value=1) 1
                          .form-group
                            span.label Comment
                            textarea.form-control(rows="4", id="comment", name="comment",placeholder="Leave a Comment Here")
                          button.btn.btn-primary(type='submit') Submit
                  #Commentslist

            // /WRAPPER
