extends layout

block content
  .container
    img(id="home" onclick='goHome()' src="/file/Default.jpg")
    h1 Register Page
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', id="username", name="username", placeholder='Enter Email')
      .form-group
        input.form-control(type='password', id="password", name="password", placeholder='Password')
      .form-group
        input.form-control(type='password', id="confirmpassword", name="confirmpassword", placeholder='Confirm Password')
      button.btn.btn-default(type='submit' id='submitbutton') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    br
    h4= info