body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

h3 { 
	text-align: left;
}

/* spacer for below the top bar */ 
.spacer {
  margin-top: 40px;
}

a.login {
  color: #00B7FF;
  float: right;
  margin-right: 15px;
}

/* make image appear in the middle */ 
.img-center { 
	text-align: center;
}

/* make the container centered  */
.container-position { 
	text-align: right;
}

.container-left { 
	text-align: left;
}

.container-center { 
	text-align: center;
}

p { 
	text-align: center;
}

/* info containers */ 
.person-info-panel > .row
{
  margin-bottom: 10px;
}

.peron-info-panel-icon
{
  opacity: 0.8;
}

/* make the errors left alight */ 
.leftside { 
  text-align: left;
}

.label {
	color:black;
}

#editSection{
	min-width: 280px;
	width: 30%;
	float: left;
}

#passwordSection{
	min-width: 280px;
	width: 30%;
	float: left;
}

#registErrors{
	display: none;
	text-align: left;
}

#pictureSection{
	min-width: 280px;
	width: 30%;
	float: left;
}

#profilepicture {
	height: 250px;
	width: 250px;
	padding: 20px;
}

#profilepicturesection{
	height: 250px;
	width: 250px;
	padding: 20px;
}

button {
	margin: 2px;
}

a {
  color: #00B7FF;
}

#wrapper1 {
	position:relative;
}

#wrapper2 {
	position:relative;
}

.map-container{
	margin-top: 20px;
	height: 250px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
}

.jumbotron{
	height: 100%;
	padding: 10px !important;
	text-align: center;
	vertical-align: middle;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
/*	width:300px;
	top:0; left:0;*/
}
	#userInfo p {
/*		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);*/
	}

#home {
	width: 30px;
	height: 30px;
}

fieldset {
	border:0;
	padding:0; margin:0;
}